<p>
  <strong>Name:</strong>
  {{ Resource.name}}
</p>

<p>
  <strong>Fav food:</strong>
  {{ Resource.fav_food}}
</p>

<p>
  <strong>Meeting place:</strong>
  {{ Resource.meeting_place}}
</p>

<p>
  <strong>Pet peeve:</strong>
  {{ Resource.pet_peeve}}
</p>

<p>
  <strong>Age:</strong>
  {{ Resource.age}}
</p>

<p>
  <strong>Turn ons:</strong>
  {{ Resource.turn_ons}}
</p>

<p>
  <strong>Home town:</strong>
  {{ Resource.home_town}}
</p>

<p>
  <strong>Hair color:</strong>
  {{ Resource.hair_color}}
</p>

<p>
  <strong>Hobby:</strong>
  {{ Resource.hobby}}
</p>